language: go

dist: xenial

services:
    - docker

env:
  global:
    - GO111MODULE=on
    - GOPROXY=https://proxy.golang.org


matrix:
  include:
    - go: "1.14.x"
      os: linux
    - go: tip
      os: linux
    - go: "1.14.x"
      os: osx
      osx_image: xcode12.2
      addons:
        homebrew:
          packages:
            - python3
            - git-annex
          update: true
  allow_failures:
    - go: tip

before_install:
  - if [[ "${TRAVIS_OS_NAME}" != "osx" ]]; then
      pyenv global 3.7.1;
    fi
  - pip3 install --user pytest pyyaml

install:
  - if [[ "${TRAVIS_OS_NAME}" == "linux" ]]; then
      wget https://downloads.kitenet.net/git-annex/linux/current/git-annex-standalone-amd64.tar.gz;
      tar xf git-annex-standalone-amd64.tar.gz;
      export PATH=$PATH:$PWD/git-annex.linux;
    fi
  - go get -v ./...
  # tools
  # - go get -u golang.org/x/lint/golint
  # codestyle checks
  - go vet ./...
  # - golint ./...
  - gofmt -s -l .

script:
  - make testbuild
  - go test -v ./...
  - if [[ "${TRAVIS_GO_VERSION}" != "tip" ]]; then
      if [[ "${TRAVIS_OS_NAME}" == "linux" ]]; then
          ./tests/start-server;
          while ! curl localhost:3000 -so /dev/null; do sleep 1; done;
          ./tests/run-all-tests;
      else
          pushd tests;
          python3 -m pytest -vk "offline";
          popd;
      fi;
    fi

after_failure:
  # upload logs to gist.github.com
  - pip3 install requests
  - python3 ./tests/scripts/pushtogist.py ./tests/log
