version: '{build}'
build: off

clone_folder: C:\gopath\src\github.com\G-Node\gin-cli

stack: go 1.11

environment:
  SRCDIR: C:\gopath\src\github.com\G-Node\gin-cli
  GOPATH: C:\gopath
  BINDIR: bin
  # download dev build
  BUNDLEURL: https://web.gin.g-node.org/achilleas/gin-cli-builds/raw/master/gin-cli-latest-windows-386.zip
  GIN_LOG_DIR: C:\gin-log


install:
  - set PATH=C:\Python37-x64\;%PATH%;%GOPATH%\bin;c:\gin-bundle\git\usr\bin
  # download latest stable gin-cli-windows-bundle
  - md c:\gin-bundle
  - cd c:\gin-bundle
  - ps: Invoke-WebRequest -URI $env:BUNDLEURL -OutFile "gin-cli-bundle.zip"
  - 7z x gin-cli-bundle.zip
  - git-annex version
  # go stuff
  - go version
  - go env

build_script:
  - cd %SRCDIR%
  # download deps
  - go get github.com/spf13/viper
  - go get github.com/spf13/cobra
  - go get github.com/howeyc/gopass
  - go get golang.org/x/crypto/ssh
  - go get github.com/G-Node/gin-core/gin
  - go get github.com/G-Node/gin-repo/wire
  - go get golang.org/x/crypto/ssh
  - go get github.com/gogits/go-gogs-client
  - go get github.com/fatih/color
  - go get github.com/shibukawa/configdir
  - go get github.com/bbrks/wrap
  - go get github.com/docker/docker/pkg/term
  - go get github.com/alecthomas/template
  - go get github.com/dustin/go-humanize
  - go vet ./...
  - go build -ldflags "-X main.gincliversion=APPVEYOR-%APPVEYOR_REPO_NAME%-%APPVEYOR_REPO_BRANCH% -X main.build=%APPVEYOR_BUILD_NUMBER% -X main.commit=%APPVEYOR_REPO_COMMIT%" -o %GOPATH%\bin\gin.exe .

before_test:
  # python stuff
  - python -m pip install pytest pyyaml
  # clone tests submodule
  - git submodule init
  - git submodule update
  # check that git and annex versions are detected properly
  - gin --version
  - gin help

test_script:
  - go test -v ./...
  - cd %SRCDIR%\tests
  - python -m pytest -v -m "offline"

# to disable deployment
deploy: off

on_finish:
  - appveyor PushArtifact %GIN_LOG_DIR%\gin.log
# Uncomment next line to enable RDP
# - ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
