Package: gin-cli
Version: {version}
Section: base
Priority: optional
Architecture: amd64
Maintainer: Achilleas Koutsou <koutsou@bio.lmu.de>
Description: GIN (G-Node INfrastructure services) command line client

